<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>渲染</title>

</head>
<body>
	<div>
		<ul>
			<li>条件渲染v-if/else/show</li>
			<li>循环渲染：数组渲染，对象循环</li>
		</ul>
	</div>
	<!-- 条件渲染 -->
	<div id='app'>
	 	<div v-if='flag' key='name'><!-- 有key就不会复用 -->
			<p>IFname</p><!-- v-if=false的时候，在dom树中会删除该节点 -->
			<input type="text">
	 	</div>
	 	<!-- v-else 元素必须紧跟在带 v-if 或者 v-else-if 的元素的后面，否则它将不会被识别。 -->
	 	<div v-else>
			<p>email</p>
			<input type="text">
	 	</div>

	 	<div v-show='flag' key='na'><!-- v-show=false的时候，在dom树中依然存在该节点 ，只是display=none -->
	 		<p>SHOWname</p>
	 		<input type="text">
	 	</div> 
	 	<button @click='change'>change</button>
	</div>

	<!-- 循环渲染 -->
	<div class="box">
		<div id="app2">
			<ul>
				<li v-for='(item,index) of list'>{{item}}>>>index={{index}}</li>
			</ul><!-- index是vue中自带的属性 -->
		</div>
		
	</div>
	<script src="vue2.6.1.js"></script>
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				flag:true
			},
			methods:{
				change:function(){
					this.flag = !this.flag
				}
			}
		})

		var app2 = new Vue({
			el:'#app2',
			data:{
				list:[1,2,3,4,5,6],
				
			}
		})
	</script>
</body>
</html>